<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.auth.dao.PushPdaDao">
    <resultMap type="com.demo.auth.entity.PushPda" id="BaseResultMap">
        <result property="updatedTime" column="updatedTime"/>
        <result property="operatorId" column="operatorId"/>
        <result property="caller" column="caller"/>
        <result property="customerType" column="customerType"/>
        <result property="createdTime" column="createdTime"/>
        <result property="msgType" column="msgType"/>
        <result property="tmplCode" column="tmplCode"/>
        <result property="pushState" column="pushState"/>
        <result property="pushType" column="pushType"/>
        <result property="extras" column="extras"/>
        <result property="userAlias" column="userAlias"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="taskId" column="taskId"/>
        <result property="id" column="id"/>
    </resultMap>
    
    <sql id="Base_Column_List">
      updatedTime, operatorId, caller, customerType, createdTime, msgType, tmplCode, pushState, pushType, extras, userAlias, content, title, taskId, id
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from t_push_pda
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.demo.auth.entity.PushPda">
        insert into t_push_pda
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="updatedTime != null">
            updatedTime,
            </if>
            <if test="operatorId != null">
            operatorId,
            </if>
            <if test="caller != null and caller != ''">
            caller,
            </if>
            <if test="customerType != null">
            customerType,
            </if>
            <if test="createdTime != null">
            createdTime,
            </if>
            <if test="msgType != null">
            msgType,
            </if>
            <if test="tmplCode != null">
            tmplCode,
            </if>
            <if test="pushState != null">
            pushState,
            </if>
            <if test="pushType != null">
            pushType,
            </if>
            <if test="extras != null and extras != ''">
            extras,
            </if>
            <if test="userAlias != null and userAlias != ''">
            userAlias,
            </if>
            <if test="content != null and content != ''">
            content,
            </if>
            <if test="title != null and title != ''">
            title,
            </if>
            <if test="taskId != null">
            taskId,
            </if>
            <if test="id != null">
            id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updatedTime != null">
            #{updatedTime},
            </if>
            <if test="operatorId != null">
            #{operatorId},
            </if>
            <if test="caller != null and caller != ''">
            #{caller},
            </if>
            <if test="customerType != null">
            #{customerType},
            </if>
            <if test="createdTime != null">
            #{createdTime},
            </if>
            <if test="msgType != null">
            #{msgType},
            </if>
            <if test="tmplCode != null">
            #{tmplCode},
            </if>
            <if test="pushState != null">
            #{pushState},
            </if>
            <if test="pushType != null">
            #{pushType},
            </if>
            <if test="extras != null and extras != ''">
            #{extras},
            </if>
            <if test="userAlias != null and userAlias != ''">
            #{userAlias},
            </if>
            <if test="content != null and content != ''">
            #{content},
            </if>
            <if test="title != null and title != ''">
            #{title},
            </if>
            <if test="taskId != null">
            #{taskId},
            </if>
            <if test="id != null">
            #{id},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKeySelective" parameterType="com.demo.auth.entity.PushPda">
        update t_push_pda
        <set>
            <if test="updatedTime != null">
                updatedTime = #{updatedTime},
            </if>
            <if test="operatorId != null">
                operatorId = #{operatorId},
            </if>
            <if test="caller != null and caller != ''">
                caller = #{caller},
            </if>
            <if test="customerType != null">
                customerType = #{customerType},
            </if>
            <if test="createdTime != null">
                createdTime = #{createdTime},
            </if>
            <if test="msgType != null">
                msgType = #{msgType},
            </if>
            <if test="tmplCode != null">
                tmplCode = #{tmplCode},
            </if>
            <if test="pushState != null">
                pushState = #{pushState},
            </if>
            <if test="pushType != null">
                pushType = #{pushType},
            </if>
            <if test="extras != null and extras != ''">
                extras = #{extras},
            </if>
            <if test="userAlias != null and userAlias != ''">
                userAlias = #{userAlias},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="taskId != null">
                taskId = #{taskId},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--条件查询-->
    <select id="listByCondition" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from t_push_pda
        <where>
            <if test="updatedTime != null">
                and updatedTime = #{updatedTime}
            </if>
            <if test="operatorId != null">
                and operatorId = #{operatorId}
            </if>
            <if test="caller != null and caller != ''">
                and caller = #{caller}
            </if>
            <if test="customerType != null">
                and customerType = #{customerType}
            </if>
            <if test="createdTime != null">
                and createdTime = #{createdTime}
            </if>
            <if test="msgType != null">
                and msgType = #{msgType}
            </if>
            <if test="tmplCode != null">
                and tmplCode = #{tmplCode}
            </if>
            <if test="pushState != null">
                and pushState = #{pushState}
            </if>
            <if test="pushType != null">
                and pushType = #{pushType}
            </if>
            <if test="extras != null and extras != ''">
                and extras = #{extras}
            </if>
            <if test="userAlias != null and userAlias != ''">
                and userAlias = #{userAlias}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="taskId != null">
                and taskId = #{taskId}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="startTime != null and endTime != null">
                and createdTime between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="java.util.List">
        delete from t_push_pda where id in
        <foreach collection="idList" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
